body {
    background-color: #f9f7fe;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #885df1 ;
}

a:hover{
    color: #885df1 ;
}

header{
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
}

.weather-app{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow:box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08) ;
    border-radius: 18px;

}

.search-input{
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    padding: 20px;
    font-size: 16px;
}

.search-button{
    background-color: #885df1;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.current-weather{
    display: flex;
    justify-content: space-between
}

.current-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.current-details{
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 24px;
    font-weight: 500;
}

.current-details strong{
    color: #f65282 ;
}

.current-temperature-container{
display: flex;
}



.icon{
    width: 88px;
    height: 88px;
}

.temperature-value{
    font-size: 88px;
    font-weight: bold;
    line-height: 88px;
}

.temperature-unit{
    margin-top: 6px;
    font-size: 28px;}

.weather-forecast{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;}


.forecast-weekday{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: rgba(39, 33, 66, 0.4);
}

.forecast-temps{
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.forecast-temp{
    padding:  0 10px;
}

.forecast-icon{
    width: 38px;
    text-align: center;
}

footer{
    border-top: 1px solid #f9f7fe;
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    color: color: rgba(0, 0, 0, 0.6);
}